<!-- Auction Cards wrapper -->
<div class="auction-section">
<div class="container mt-4">
  <div class="auction-cards">

    <div class="auction-card" *ngFor="let item of items">
  
  <div class="card-top">
    <img [src]="item.image" alt="{{ item.title }}" class="card-img" (click)="goToDetails(item)" />

    <div class="card-top-right">
     <button class="btn-heart" (click)="toggleLike(item)">
    <i class="bi"
    [ngClass]="isLiked(item) ? 'bi-heart-fill text-danger' : 'bi-heart'"></i>
     </button>
    </div>

    <span class="badge-live">Live</span>
  </div>

  <div class="card-body">
    <h5 class="card-title">{{ item.title }}</h5>

    <div class="card-row">
      <div>
        <div class="muted small">Current Bid</div>
        <div class="price">{{ item.price }}</div>
      </div>
      <div class="text-end">
            <div class="muted small">Time Left</div>
            <div class="time-left">{{item.timeLeft}}</div>
          </div>
    </div>
    <div class="d-grid">
      <button class="btn place-bid-btn" (click)="goToDetails(item)">View & Bid</button>
    </div>
  </div>

  </div>
</div>
</div>