.how-it-works-section {
  background: radial-gradient(circle at top, #5c1a85, #3a0061, #24003d);
  color: white;
}

.section-title {
  font-size: 30px;
  font-weight: 700;
}

.section-subtitle {
  font-size: 15px;
  opacity: 0.8;
}

.step-icon {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto 10px;
  font-size: 28px;
  color: white;
}

.step1 {
  background: #e05dd3;
}

.step2 {
  background: #d13ee5;
}

.step3 {
  background: #c63edd;
}

.step-title {
  font-size: 18px;
  font-weight: 600;
}

.step-text {
  font-size: 13px;
  opacity: 0.8;
}

.features-wrapper {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.feature-card {
  background: rgba(255, 255, 255, 0.08);
  border-radius: 12px;
  padding: 20px;
  text-align: center;
  backdrop-filter: blur(7px);
  border: 1px solid rgba(255, 255, 255, 0.15);
}

.feature-icon {
  font-size: 30px;
  margin-bottom: 8px;
}

.feature-title {
  font-size: 17px;
  font-weight: 600;
}

.feature-text {
  font-size: 13px;
  opacity: 0.8;
}




.cta-section {
  padding: 70px 20px;
  display: flex;
  justify-content: center;
}

.cta-box {
  max-width: 1100px;
  width: 100%;
  padding: 60px 40px;
  border-radius: 26px;
  text-align: center;
  color: #fff;
  background: linear-gradient(135deg, #6a00ff, #ff4ecd);
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.35);
}

.cta-box h2 {
  font-size: 34px;
  font-weight: 800;
  margin-bottom: 14px;
}

.cta-box p {
  font-size: 16px;
  opacity: 0.95;
  margin-bottom: 35px;
  line-height: 1.6;
}

.cta-actions {
  display: flex;
  justify-content: center;
  gap: 18px;
  flex-wrap: wrap;
}

.cta-primary {
  background: #ffffff;
  color: #6a00ff;
  border: none;
  padding: 14px 32px;
  font-size: 15px;
  font-weight: 700;
  border-radius: 40px;
  cursor: pointer;
  transition: 0.25s ease;
}

.cta-primary:hover {
  transform: translateY(-2px);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.25);
}

.cta-secondary {
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.9);
  color: white;
  padding: 14px 30px;
  font-size: 15px;
  font-weight: 600;
  border-radius: 40px;
  cursor: pointer;
  transition: 0.25s ease;
}

.cta-secondary:hover {
  background: rgba(255, 255, 255, 0.15);
}

/* Mobile */
@media (max-width: 768px) {
  .cta-box {
    padding: 40px 25px;
  }

  .cta-box h2 {
    font-size: 26px;
  }
}

