:host {
  display: block;
  background: #3a0061 !important;
}
.btn-heart {
  background: rgba(0,0,0,0.25);
  border: none;
  color: #fff;
  width:32px;
  height:32px;
  border-radius:50%;
  display:inline-flex;
  align-items:center;
  justify-content:center;
  cursor:pointer;
}

.product-details-container {
  color: white;
  padding: 20px;
  width: 85%;
  margin: auto;
}

.breadcrumb {
  opacity: 0.7;
  margin-bottom: 20px;
}

.top-section {
  position: relative;
  padding: 20px;
  background: linear-gradient(135deg, #662d91, #4b167a, #330055);
  border-radius: 15px;
  margin-bottom: 30px;
}

.live-tag {
  background: red;
  padding: 5px 15px;
  border-radius: 15px;
  width: fit-content;
  color: white;
  font-weight: bold;
}

.image-box {
  width: 100%;
  height: 350px;
  margin-top: 20px;
  border-radius: 15px;
  background: rgba(255,255,255,0.07);
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-box img {
  max-height: 100%;
  max-width: 100%;
  border-radius: 10px;
}

.actions {
  position: absolute;
  right: 20px;
  top: 20px;
  display: flex;
  gap: 10px;
}

.card {
  background: linear-gradient(135deg, #662d91, #4b167a);
  padding: 25px;
  border-radius: 15px;
  margin-bottom: 30px;
}

.meta span {
  margin-right: 20px;
  opacity: 0.8;
  color: white;
}

.details-grid {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 20px;
  margin-top: 20px;
  color: white;
}

.price-row {
  display: flex;
  justify-content: space-between;
}

.green {
  color: #4AFF79;
  font-weight: bold;
}

.bid-input {
  width: 100%;
  padding: 12px;
  border-radius: 10px;
  border: none;
  margin-top: 20px;
  border: 1px solid white;
  background: transparent;
}

.place-bid-btn {
  width: 100%;
  padding: 12px;
  margin-top: 20px;
  border: none;
  border-radius: 10px;
  background: #ff4fbe;
  color: white;
  font-size: 16px;
}

.buy-now-btn {
  width: 100%;
  padding: 12px;
  margin-top: 10px;
  border: 1px solid white;
  border-radius: 10px;
  background: transparent;
  color: white;
}

.features p {
  margin-top: 10px;
  opacity: 0.8;
}
