:host {
  display: block;
  background: #3a0061 !important;
}
.btn-heart {
  background: rgba(0,0,0,0.25);
  border: none;
  color: #fff;
  width:32px;
  height:32px;
  border-radius:50%;
  display:inline-flex;
  align-items:center;
  justify-content:center;
  cursor:pointer;
}

.product-details-container {
  color: white;
  padding: 20px;
  width: 85%;
  margin: auto;
}

.breadcrumb {
   display: flex;
  align-items: center;
  gap: 8px;
  font-size: 15px;
  color: #ddd;
}

.breadcrumb-link {
  color: #cfa8ff;
  text-decoration: none;
  cursor: pointer;
  transition: 0.3s;
}

.breadcrumb-link:hover {
  color: #ffffff;
  text-decoration: underline;
}

.separator {
  opacity: 0.6;
}

.current {
  color: #ffffff;
  font-weight: 500;
}
.top-section {
  position: relative;
  padding: 20px;
  background: linear-gradient(135deg, #662d91, #4b167a, #330055);
  border-radius: 15px;
  margin-bottom: 30px;
}

.live-tag {
  background: red;
  padding: 5px 15px;
  border-radius: 15px;
  width: fit-content;
  color: white;
  font-weight: bold;
}

.image-box {
  width: 100%;
  height: 350px;
  margin-top: 20px;
  border-radius: 15px;
  background: rgba(255,255,255,0.07);
  display: flex;
  justify-content: center;
  align-items: center;
}
.image-slider {
  position: relative;
  width: 100%;
  max-width: 420px;
  margin: auto;
}

.image-slider img {
  width: 100%;
  height: 350px;
  object-fit: contain;
  border-radius: 16px;
  pointer-events: none;
}

.image-slider .nav {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0,0,0,0.6);
  color: #fff;
  border: none;
  font-size: 22px;
  padding: 10px 14px;
  cursor: pointer;
  border-radius: 50%;
}

.time-remaining{
  padding-left: 450px;
  color: #f6ae14;
}
.timer{
padding-left: 50px;
}

.image-slider .left {
  left: -60px;
}

.image-slider .right {
  right: -60px;
}

.image-slider .nav:hover {
  background: #2b282873;
}


.actions {
  position: absolute;
  right: 20px;
  top: 20px;
  display: flex;
  gap: 10px;
}

.card {
  background: linear-gradient(135deg, #662d91, #4b167a);
  padding: 25px;
  border-radius: 15px;
  margin-bottom: 30px;
}

.meta span {
  margin-right: 20px;
  opacity: 0.8;
  color: white;
}

.details-grid {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 20px;
  margin-top: 20px;
  color: white;
}

.price-row {
  display: flex;
  justify-content: space-between;
  color: white;
}


.green {
  color: #4AFF79;
  font-weight: bold;
}

.bid-input {
  width: 100%;
  padding: 12px;
  border-radius: 10px;
  border: none;
  margin-top: 20px;
  border: 1px solid white;
  background: transparent;
}

.place-bid-btn {
  width: 100%;
  padding: 12px;
  margin-top: 20px;
  border: none;
  border-radius: 10px;
  background: #ff4fbe;
  color: white;
  font-size: 16px;
}

.buy-now-btn {
  width: 100%;
  padding: 12px;
  margin-top: 10px;
  border: 1px solid white;
  border-radius: 10px;
  background: transparent;
  color: white;
}

.features p {
  margin-top: 10px;
  opacity: 0.8;
  color: white;
}
