<div class="product-details-container">

  <div class="breadcrumb">
    <a routerLink="/" class="breadcrumb-link">Home</a>
    <span class="separator">></span>
    <span class="current">{{product?.title}}</span>
  </div>

  <div class="top-section">
    <div class="live-tag">Live</div>
    <div class="image-box">
<div class="image-slider">
  <button class="nav left" (click)="prevImage()">❮</button>

  <img
    [src]="productImages[currentImageIndex]"
    alt="Product Image"
  />

  <button class="nav right" (click)="nextImage()">❯</button>
</div>
    </div>
    <div class="actions">
<button class="btn-heart" (click)="toggleLike(product)">
  <i 
    class="bi"
    [ngClass]="isLiked(product) ? 'bi-heart-fill text-danger' : 'bi-heart'">
  </i>
</button>    
 </div>
  </div>

  <div class="info-section card">
    <h1>{{ product?.title }}</h1>

    <div class="meta">
      <span>👁️ {{ product?.views }} views</span>
      <span>📦 {{ product?.bids }} bids</span>
      <span>📍 {{ product?.location }}</span>
    </div>

    <h3>Description</h3>
    <p>{{ product?.description }}</p>

    <div class="details-grid">
      <div>
        <h4>Condition</h4>
        <p>{{ product?.condition }}</p>
      </div>

      <div>
        <h4>Category</h4>
        <p>{{ product?.category }}</p>
      </div>

      <div>
        <h4>Seller</h4>
        <p>{{ product?.seller }}</p>
      </div>

      <div>
        <h4>Location</h4>
        <p>{{ product?.location }}</p>
      </div>
    </div>
  </div>

  <!-- Bidding Section -->
  <div class="bid-section card">

    <div class="time-remaining">
      <h4>Time Remaining</h4>
      <div class="timer">0 : 0 : 0</div>
    </div>

    <div class="price-box">
      <div class="price-row">
        <span>Current Bid</span>
        <span class="price green">$ {{product.currentBid}} </span>
      </div>

      <div class="price-row">
        <span>Starting Bid</span>
        <span class="price">${{ product?.startingBid }}</span>
      </div>

      <div class="price-row">
        <span>Total Bids</span>
        <span>{{ product?.bids }}</span>
      </div>
    </div>

    <input type="number" 
    class="bid-input" 
    [(ngModel)]="userBid"
    min="product?.startingBid"
    step="1"
    placeholder="Enter bid amount (mini is {{product?.startingBid}})" />

    <!--[disabled] حتي يتعطل الزر بشكل تلقائي عندما يصل للسعر المطلوب -->
    <button class="place-bid-btn" (click)="placeBid()"
     [disabled]="toNumber(product?.currentBid) >= toNumber(product?.buyNow)">
     🔨 Place Bid</button>

     <p
  style="color:#ffb3b3; margin-top:10px; font-weight:600"
  *ngIf="toNumber(product?.currentBid) >= toNumber(product?.buyNow)"
>
  Buy Now price reached. Bidding is closed.
</p>

    <button class="buy-now-btn" (click)="buyNow()">Buy Now: ${{ product?.buyNow }}</button>

    <div class="features">
      <p>🛡️ Buyer Protection Guarantee</p>
      <p>🚚 Free Shipping Available</p>
      <p>✔️ Verified Authentic</p>
    </div>
  </div>

</div>
