<div class="profile-container">

  <!-- Profile Header -->
  <div class="profile-header">
    <div class="avatar">
      <i class="bi bi-person"></i>
    </div>
    <h2>{{ user.name }}</h2>
    <p class="email">{{ user.email }}</p>
  </div>

  <!-- Accordion Menu -->
  <div class="menu-section">
    <div class="menu-item active">
      <i class="bi bi-tag"></i> My Bids
    </div>

    <div class="menu-item" (click)="toggle('bids')">
    <i class="bi bi-hammer"></i> Products I Bid On
  </div>

   <!-- Accordion Content -->
  <div class="accordion-content" *ngIf="activeSection === 'bids'">

    <div *ngIf="bidProducts.length === 0" class="empty">
      No bids yet 🔨
    </div>

    <div class="mini-card" *ngFor="let product of bidProducts">
      <img [src]="product.image" />

      <div >
        <h5>{{ product.title }}</h5>
        <p>Current Bid: ${{ product.totalAfterBid  }}</p>
      </div>
      <a  class="view-btn" [routerLink]="['/product-details', product.id]">
        View
      </a>
    </div>

  </div>
    <div class="menu-item" routerLink="/saved-items">
      <i class="bi bi-heart" ></i> Saved Items
    </div>

    <div class="menu-item" (click)="toggle('purchased')">
      <i class="bi bi-bag-check"></i> Purchased items
    </div>
    <div class="accordion-content" *ngIf="activeSection === 'purchased'">

  <div *ngIf="purchasedItems.length === 0" class="empty">
    No Purchased Yet 🛒
  </div>

  <div class="mini-card" *ngFor="let item of purchasedItems">
    <img [src]="item.image" />

    <div>
      <h5>{{ item.title }}</h5>
      <p>Paid: ${{ item.finalPrice }}</p>
    </div>
    <a  class="view-btn" [routerLink]="['/product-details', item.id]">
        View
      </a>
  </div>
</div>

    <div class="menu-item">
      <i class="bi bi-trophy"></i> Won Items
    </div>

    <div class="menu-item">
      <i class="bi bi-credit-card"></i> Payment Methods
    </div>

    <div class="menu-item">
      <i class="bi bi-gear"></i> Settings
    </div>

    <div class="menu-item">
      <i class="bi bi-box-arrow-right"></i> Sign Out
    </div>
  </div>
  
  <!-- Stats Section -->
  <div class="stats">

    <div class="stat-box">
      <h1>{{ activeBidsCount  }}</h1>
      <p>Active Bids</p>
      <span class="sub">Currently bidding</span>
    </div>

    <div class="stat-box">
      <h1>{{ stats.won }}</h1>
      <p>Won Auctions</p>
      <span class="sub">Total wins</span>
    </div>

    <div class="stat-box">
      <h1>{{ savedCount  }}</h1>
      <p>Saved Items</p>
      <span class="sub">In wishlist</span>
    </div>

  </div>

</div>

