.today-section {
  background: #36004d; 
  padding: 20px 20px;
}

.header-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
  color: white;
}

.header-row h2 {
  font-size: 28px;
  font-weight: bold;
}

.countdown {
  background: rgba(255,255,255,0.12);
  padding: 8px 30px;
  margin-left: 550px;
  border-radius: 20px;
  font-size: 14px;
  color: #ffcb58;
}

.view-all {
   display: inline-flex;
  align-items: center;
  gap: 6px;
  background: linear-gradient(90deg, #b06cff, #ff79b1);
  padding: 10px 18px;
  border-radius: 12px;
  color: white;
  text-decoration: none;
  font-weight: 600;
  transition: 0.3s;
}

.view-all:hover {
    transform: translateY(-2px);
  box-shadow: 0 10px 25px rgba(176,108,255,0.4);
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.card {
  background: rgba(255, 255, 255, 0.08);
  border-radius: 12px;
  padding: 15px;
  color: white;
  text-align: center;
  backdrop-filter: blur(8px);
}
.today-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 18px 35px rgba(0,0,0,0.4);
}
.image-wrapper {
  width: 100%;
  height: 190px;     
  overflow: hidden;
  border-radius: 12px;
  margin-bottom: 12px;
}

.image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: contain;   
  background: white;     
  padding: 5px;
  border-radius: 12px;
  cursor: pointer;
}

.price {
  margin: 10px 0;
  font-size: 20px;
  color: #4fff85;
}

button {
 width: 100%;
  padding: 12px;
  border-radius: 14px;
  border: none;
  background: linear-gradient(90deg, #b06cff, #ff79b1);
  color: white;
  font-weight: 700;
  cursor: pointer;
  transition: 0.3s;
}
