.saved-container {
  padding: 30px;
}

.page-title {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  gap: 10px;
  color: white;
}
:host {
  display: flex;
  flex-direction: column;
  min-height: 100vh;   
  background: #3a0061;
}

.page-title i {
  color: #e63946;
}

.empty-state {
  flex: 1;                    
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 130px 20px;
  color: #ccc;
}


.empty-state i {
  font-size: 50px;
  color: #e63946;
  margin-bottom: 15px;
}

.empty-state p {
  font-size: 18px;
  font-weight: 600;
}

.empty-state span {
  font-size: 14px;
  opacity: 0.8;
}

.products-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  gap: 25px;
}

.product-card {
  background: #fff;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
  transition: transform 0.25s ease, box-shadow 0.25s ease;
}

.product-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.12);
}

.image-wrapper {
  position: relative;
  height: 190px;
  background: #f5f5f5;
}

.image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-body {
  padding: 16px;
}

.card-body h4 {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 10px;
  color: #222;
}

.price {
  font-size: 14px;
  color: #555;
  margin-bottom: 14px;
}

.price strong {
  color: #2a9d8f;
  margin-left: 5px;
}

.details-btn {
  display: block;
  text-align: center;
  padding: 10px;
  border-radius: 10px;
  background: #111;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  text-decoration: none;
}

.details-btn:hover {
    background: linear-gradient(90deg, #b06cff, #ff79b0);
}

.remove-btn {
  margin-top: 10px;
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  background: #e63946;
  color: #fff;
  border: none;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
}

.remove-btn:hover {
  opacity: 0.9;
  transform: translateY(-2px);
}
