<nav class="navbar navbar-expand-lg custom-navbar px-4 py-1">
  <div class="container-fluid">
<a class="navbar-brand d-flex align-items-center" href="#">
      <!-- Logo image -->
      <img src="/Bonanza-logo-transparent9.png"
       alt="Bonanza Logo" 
       style="height: 50px; width: auto; filter: brightness(0) invert(1);
" 
       class="align-middle" />
      <!-- Site name -->
      <span class="text-white fw-bold fs-3">Bonanza</span>
    </a>
    <button
      class="navbar-toggler bg-light"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="search-box d-flex align-items-center ">
      <input
        type="text"
        [(ngModel)]="searchTerm"
        placeholder="Search for auctions, items, or categories..."
        class="form-control me-2"
      />
    </div>

    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav align-items-center gap-4">
        <!-- Bell icon-->
        <li class="nav-item d-flex align-items-center">
          <i class="bi bi-bell-fill text-white fs-5"></i>
        </li>

        <!-- Sign In with a person icon-->
        <li class="nav-item d-flex align-items-center gap-1">
          <i class="bi bi-person-fill text-white fs-5"></i>
          <a routerLink="/profile" class="nav-link text-white fw-semi" href="#">Account</a>
        </li>

        <li class="nav-item">
          <button class="btn btn-outline-light btn-register fw-bold px-4 py-2">Register</button>
        </li>
      </ul>
    </div>
  </div>
</nav>


