.custom-navbar {
  background: linear-gradient(90deg, #84249f, #4b1c6c);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.nav-link {
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: #ffd700;
}

.navbar-brand {
  letter-spacing: 1px;
  margin-left: 30px;
}

.search-box {
  width: 50%;
  max-width: 500px;
  margin-left: 90px;
}

.search-box input {
  width: 550px;
  height: 35px;
  padding: 12px 18px;
  border-radius: 40px;
  border: 1px solid rgba(255, 255, 255, 0.25);
  background: rgba(255, 255, 255, 0.12); 
  color: white;

  backdrop-filter: blur(8px); 
}

.search-box button {
  border-radius: 50px;
}
.btn-register {
  border-radius: 50px; 
  padding-left: 1.5rem;   
  padding-right: 1.5rem;
}
.navbar .bi-bell-fill {
  margin-right: 15px;
  cursor: pointer; 
}