<nav class="navbar navbar-expand-lg custom-navbar">
  <div class="container-fluid">

    <a class="navbar-brand d-flex align-items-center gap-2" href="#">
      <img
        src="/Bonanza-logo-transparent9.png"
        alt="Bonanza Logo"
        class="logo-img" />
      <span class="brand-text">Bonanza</span>
    </a>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="search-wrapper position-relative mx-auto">
      <i class="bi bi-search search-icon"></i>

      <input
        type="text"
        [(ngModel)]="searchTerm"
        (input)="onSearchChange()"
        placeholder="Search auctions, items or categories"
        class="search-input" />

      <ul *ngIf="showDropdown" class="search-dropdown">
        <li
          *ngFor="let item of filteredItems"
          (click)="goToItem(item)">
          {{ item.title }}
        </li>
      </ul>
    </div>

    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav align-items-center gap-3">

        <li class="nav-item">
          <div class="icon-circle">
            <i class="bi bi-bell-fill"></i>
          </div>
        </li>

        <li class="nav-item">
          <a routerLink="/profile" class="account-link">
            <div class="icon-circle">
              <i class="bi bi-person-fill"></i>
            </div>
            <span>Account</span>
          </a>
        </li>

        <li class="nav-item" *ngIf="isLoggedIn">
          <a routerLink="/add-product" class="btn add-btn">
            <i class="bi bi-plus-lg"></i>
            Add Product
          </a>
        </li>

        <li class="nav-item">
          <a routerLink="/register" class="btn btn-outline-light btn-register">
            Register
          </a>
        </li>

      </ul>
    </div>
  </div>
</nav>
