/*I get rid of any external margin in the element that precedes the footer*/
.live-page .container,
.live-page .auction-card:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
}

.live-page {
  background: linear-gradient(135deg, #701e83, #301d56);
  color: rgb(255, 255, 255);
}

.page-title {
  font-size: 32px;
  font-weight: 700;
  padding-bottom: 20px;
}


/* Categories */
.cat-btn {
  padding: 8px 16px;
  border-radius: 25px;
  background: rgba(255,255,255,0.15);
  color: #fff;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}

.cat-btn:hover {
  background: rgba(255,255,255,0.3);
}

.cat-btn.active {
  background: #ffffff;
  color: #6a1b9a;
  font-weight: 600;
}

/* Icons */
.icon-btn {
  background: #3b1a57;
  border: 1px solid #673089;
  color: white;
  padding: 8px 14px;
  border-radius: 12px;
  cursor: pointer;
}

.auction-card {
  background: #37165c;
  border-radius: 18px;
  padding: 0;               
  margin-bottom: 35px;
  border: 1px solid #6f2e90;
  overflow: hidden;           
  transition: 0.3s;
}

.auction-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0,0,0,0.2);
}

/* Image section */
.image-box,
.card-top {                   
  position: relative;
  height: 200px;        
  overflow: hidden;
  border-bottom: 1px solid rgba(255,255,255,0.1);
}

.breadcrumb {
  padding-top: 0px;
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 15px;
  color: #ddd;
}

.breadcrumb-link {
  color: #cfa8ff;
  text-decoration: none;
  cursor: pointer;
  transition: 0.3s;
}

.breadcrumb-link:hover {
  color: #ffffff;
  text-decoration: underline;
}

.separator {
  opacity: 0.6;
}

.item-img,
.card-img {                  
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  cursor: pointer;
  background-color: #2b1246; 
}

/* Live badge */
.tag,
.badge-live {
  position: absolute;
  left: 15px;
  top: 15px;
  background: #ff6b6b;
  padding: 6px 12px;
  border-radius: 10px;
  font-weight: 700;
  font-size: 14px;
  z-index: 2;
}

/* Heart icon */
.btn-heart {
  position: absolute;
  right: 15px;
  top: 15px;
  background: rgba(0,0,0,0.3);
  border: none;
  color: #fff;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

/* Body */
.card-body {
  padding: 16px;
}

.item-title,
.card-title {
  font-size: 18px;
  font-weight: 600;
  margin: 10px 0;
}

.info-row,
.card-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.price {
  color: #32ff7e;
  font-size: 18px;
  font-weight: bold;
}

/* place bid button */
.place-bid-btn {
  background: linear-gradient(90deg,#b06cff,#ff79b1);
  color: #fff;
  border: none;
  padding: 10px 16px;
  border-radius: 10px;
  font-weight: 700;
}

.auctions-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  gap: 24px;
}
